@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel" />

<h2>Games on sale</h2>

<div class="row">

    @foreach (var game in Model.GamesOnSale)
    {
        if (Model.OwnedGameIds.Contains(game.GameId))
        {
            @await Html.PartialAsync("_GameCard", game, new ViewDataDictionary(ViewData) { { "Owned", true } });
        }
        else
        {
            <partial name="_GameCard" model="game" />
        }
    }

</div>