.container{

	width: auto;
	height: auto;
	background-color: #ffffe0;
}

span{
	display: inline-flex;
}


.heading-section{
text-align: center;
background-color: #90ee80;
padding: 10px 5px 10px 30px;
margin: 0px 0px 20px 0px;
text-align: left;
box-shadow: 0px 0px 1px 0px black;

}

#btn-replay{

	display: none;
}

#user-input{
	margin-bottom: 10px;
}

.guess-box{

	padding: 25px;
	margin-bottom: 20px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);
	background-color: #f5f5f5;

}


.msg-success{
	color: green;
	font-size: 30px;
	text-align: center;
}

.msg-danger{
	color: red;
	font-size: 30px;
	text-align: center;
}
.msg-retry{
color: #90ee90;
	font-size:25px;
	text-align: center;

}


.main{

	text-align: center;
	min-height: 15px;

}


.instruction{
	background-color:lightgray;
	padding: 5px;
	margin: 15px 5px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);
	font-size: bold;
	font-size: 15px;
}

th{
	font-weight: bold;
	text-align: center;
}

td{
	text-align: center;
	padding:10px;
}

footer {

    padding: 1em  0em ;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);
    height: 4px;*/

       }

   .redheart{
   	color: red;
   }
h1{
	padding: 3px 10px;
	margin: 10px 10px;}

#lost-msg{
	color: black;
		font-size:20px;
		text-align: center;

}