@{
    ViewData["Title"] = "Contact";
}
<h3>To get in contact with Central Games Platform, please use the email link below</h3>

<email address="support@centralgamesplatform.com" link-text="Contact Us"></email>