<form asp-action="CreateAccount" method="post">
    <h4>Register for a Stripe Connect account here to transfer winnings to your bank account</h4>
    <p>This is only intended for casino players.</p>
    <p>If you have registered for a stripe connect account already there is no need to register again</p>
    <input type="submit" class="btn btn-primary" value="Register" />
</form>