@model Payout
@{
    ViewData["Title"] = "Payout";
}
@if (ViewBag.SuccessMessage != null)
{
    <p class="text-success">@ViewBag.SuccessMessage</p>
}
@if (ViewBag.ErrorMessage != null)
{
    <p class="text-danger">@ViewBag.ErrorMessage</p>
}
<h1>Transfer winnings to PayPal</h1>
<p>To convert your winnings into real world cash, you must have an active PayPal account. If you do not have one, please register for one at <a href="www.paypal.com">this link here</a></p>

<h3>If you already have an account, enter your PayPal email and the amount you want to transfer and click 'Transfer'</h3>
<form asp-action="Index" method="post" class="card">
    <div class="card-body">

        <h4 class="card-title text-dark">Purchase</h4>

        <div class="form-group text-dark">
            <label asp-for="PayPalEmail"></label>
            <input asp-for="PayPalEmail" class="form-control" />
            <span asp-validation-for="PayPalEmail" class="text-danger"></span>
        </div>

        <div class="form-group text-dark">
            <label asp-for="AmountTransfered"></label>
            <input asp-for="AmountTransfered" class="form-control" />
            <span asp-validation-for="AmountTransfered" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>

    </div>
</form>