@model Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" class="card">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-dark">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group text-dark">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group text-dark">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group text-dark">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group text-dark">
                    <label asp-for="ImageThumbnailUrl" class="control-label"></label>
                    <input asp-for="ImageThumbnailUrl" class="form-control" />
                    <span asp-validation-for="ImageThumbnailUrl" class="text-danger"></span>
                </div>
                <div class="form-group text-dark">
                    <label asp-for="IsOnSale" class="control-label"></label>
                    <input asp-for="IsOnSale" class="form-control" style="width:10%;" />
                    <span asp-validation-for="IsOnSale" class="text-danger" ></span>
                </div>
                <div class="form-group text-dark">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control">
                        <option value=1>Casino Game PC</option>
                        <option value=2>Casino Game Mobile</option>
                        <option value=3>Casino Game Both Device</option>
                        <option value=4>Browser Game PC</option>
                        <option value=5>Browser Game Mobile</option>
                        <option value=6>Browser Game Both Device</option>
                        <option value=7>Download Game PC</option>
                        <option value=8>Download Game Mobile</option>
                        <option value=9>Download Game Both</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" asp-route-gameId="@Model.GameId" />
                    <a class="btn btn-success" asp-action="ViewGames">Back to List</a>
                    @if (Model.CategoryId >= 4 && Model.CategoryId <= 9)
                    {
                        <a class="btn btn-primary" asp-action="DownloadDetails" asp-route-gameId="@Model.GameId">Game Files</a>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

