<h1>Welcome Admin user!!</h1>
<h3>Select from the following administration operations:</h3>
<br/>
<a asp-action="ViewGames">
    <input class="btn btn-primary" type="button" value="View/Edit/Add Games">
</a>
<a asp-action="ViewVerificationRequests">
    <input class="btn btn-primary" type="button" value="Verification Requests" />
</a>
