@model GameListViewModel
@{
    ViewData["Title"] = "Game List";
}

<h1>@Model.CurrentCategory</h1>
<div class="row">
    @foreach (var game in Model.Games)
    {
        <partial name="_GameCard" model="game" />
    }
</div>
