@model GameListViewModel
@{
    ViewData["Title"] = "Game List";
}

<h1>@Model.CurrentCategory</h1>
<div class="row">
    @foreach (var game in Model.Games)
    {
        if (Model.OwnedGameIds.Contains(game.GameId))
        {
            @await Html.PartialAsync("_GameCard", game, new ViewDataDictionary(ViewData) { { "Owned", true } });
        }
        else
        {
            <partial name="_GameCard" model="game" />
        }

    }
</div>
