@model FileUpload
@{
    ViewData["Title"] = "Verification";
}
@if (ViewBag.SuccessMessage != null)
{
    <p class="text-success">@ViewBag.SuccessMessage</p>
}
@if (ViewBag.ErrorMessage != null)
{
    <p class="text-danger">@ViewBag.ErrorMessage</p>
}
<h1>Verify your account</h1>
<p>To play casino games, you must verify your photo ID to prove you are genuine and you are over the age of 18. This is not required to play and purchase video games</p>
<p class="text-warning">* If you have already submitted your photo ID, you must wait until it has been approved by an admin to proceed</p>

<div class="card">
    <h5 class="card-title text-dark">Max file size is 2MB. Photo must be in .jpg format</h5>
    <p class="text-secondary">In order to verify that you are authentic, you must provide a picture of both your face and your ID clearly in frame. If you cannot provide this, we have no choice but to refuse your request.</p>
    <form asp-action="Index" enctype="multipart/form-data" method="post" class="card-body">
        <div class="form-group text-dark">
            <label asp-for="file"></label>
            <input asp-for="file" class="form-control" type="file" style="width:40%;" />
            <span asp-validation-for="file" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-success" value="Submit" />

    </form>
</div>